@model IEnumerable<Dataprossing.Models.PopulationAgeGroupInBaishaPenghu>
@{
    ViewData["Title"] = "Home Page";
}

<h1 id="-">澎湖縣白沙鄉人口年齡層統計</h1>

<h2 id="-">資料來源</h2>
<ul>
    <li><a href="https://data.gov.tw/dataset/113195">政府資料開放平台</a></li>
    <li>資料型態：JSON</li>
</ul>

<h2 id="-">網站原始碼</h2>
<ul>
    <li><a href="https://github.com/fuanho/NKUST-109-2">GitHub</a></li>
</ul>

<h2 id="api-">Api使用說明</h2>
<p>在原網址後加上<code>/api/{year}</code> or <code>/api/{year}/{month}</code></p>